{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <div class="col-md-6">
            <h3>Sign Up</h3>
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(form,{'action': path('confirmation'),'attr' : {'class': 'form-style','novalidate': 'novalidate'}}) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="submit" class="btn btn-primary">Sign Up!</button>
                    </div>
                </div>    
            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            <h3>Login</h3>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('loginAction') }}" method="post" class="form-horizontal form-style"  novalidate="novalidate">
                <div class="form-group">
                    <label for="username" class="col-md-3">Username</label>
                    <div class="col-sm-9">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
                    </div>
                </div>    
                <div class="form-group">
                    <label for="password" class="col-md-3">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>    
                </div>
              <input type="hidden" name="_target_path" value="/manage_list">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">Login!</button>
                    </div>    
                </div>  
            </form>
        </div>
    </div>
{% endblock %}