{% extends 'base.html.twig' %}
{% block body %}
	<h1>List Management</h1><hr>
	<div class="row">	
		<div class="col-md-12">
			<a href="javascript:void(0)" data-toggle="modal" data-target="#ListModal">
				<i class="fa fa-plus-circle fa-2x" aria-hidden="true">&nbsp;&nbsp;Create New List</i>
			</a>
		</div>
		<div class="col-md-12 margin-top20">
            {% for value in ListArr %}
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">{{ value.name }}<i class="fa fa-times pull-right" aria-hidden="true" onClick="remove_parent({{ value.id }})"></i>
				</div>
				<div class="panel-body list-style ">
					<ol type="1">
                     {% for val in value.itemsArr %}
					  <li>{{ val.name }}<i class="fa fa-window-close pull-right" aria-hidden="true" onClick="remove_child({{ val.id }})"></i></li>
					 
                    {% endfor %}
					</ol>
				</div>
				<div class="panel-footer">
					<div class="text-right" onClick="AddItem({{ value.id }})">
						Add Item &nbsp;<i class="fa fa-plus-square" aria-hidden="true"></i></div>
					</div>
				</div>					
			</div>
            {% endfor %}
		</div>
	</div>
    <div id="ListModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New List</h4>
                </div>
	                <div class="modal-body">
    	                <div class="msg">
    	               	</div>
                        {% form_theme ListForm 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form_start(ListForm,{'attr' : {'novalidate': 'novalidate','id': 'list_form'}}) }}
                        {{ form_row(ListForm.name,{attr : {'id':'list_name','placeholder' : 'List Name'}}) }}
                        {{ form_end(ListForm) }}
	                   <!-- <div class="form-group">
	                        <label>Enter List Name</label>
	                        <input type="text" name="name" id="list_name" class="form-control" placeholder="List Name">
	                    </div> -->
	                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="create_list">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="itemModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New List</h4>
                </div>
                <form class="form-horizontal" id="item_form" >
                    <div class="modal-body">
                        <div class="msg_item">
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Enter Item Name</label>
                            <div class="col-md-9">
                            	<input type="text" name="item_name" id="item_name" class="form-control" placeholder="Item Name">
                            </div>	
                        </div>
                        <div class="form-group">
                       		<div class="col-md-offset-3 col-md-9">
    	                    	<label><input type="radio" name="sort" value="top" checked>Place on Top of List</label><br>
    	                    	<label><input type="radio" name="sort" value="bottom">Place on Bottom of List</label>
                        	</div>
                   		</div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-4">
                                   <div id="cp2" class="input-group colorpicker-component"> 
                                      <input type="text" value="#00AABB" class="form-control" /> 
                                      <span class="input-group-addon"><i></i></span>
                                    </div>
                            </div>
                        </div>
                        <input type="hidden" id="parent_id" name="parent_id">
                    </div>   
                    <div class="modal-footer">
                   		 <div class="col-md-offset-3 col-md-9">
                        	<button type="button" class="btn btn-success" id="add_item">Save</button>
                        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
 {{ parent() }}
 <script type="text/javascript">
 $('#cp2').colorpicker();
    $(document).ready(function(){

        $("#create_list").on('click',function(){
            $("#list_form").submit();
        });
        $("#add_item").on('click',function(){
            $("#item_form").submit();
        });
        $("#list_form").submit(function(e) {
        e.preventDefault();
             var name    = $("#list_name").val();
            $.ajax({
                url:"{{ path('add_parent') }}",
                data:{name:name},
                type:"POST",
                success:function(response){
                	var resp = response;
                	if(resp.output == 'error'){
                		$('.msg').html("<div class='alert alert-danger'>"+ resp.message +"</div>");
                	}
                	if(resp.output == 'success'){
                		location.reload();
                	}                	
                }
            });
        });
        $("#item_form").submit(function(e) {
            e.preventDefault();
        	var item =  $("#item_name").val();
            var sort = $("input[name='sort']:checked").val();
            var parent_id = $("#parent_id").val();
            var path = "{{ path('add_child') }}";
            $.ajax({
                url: path,
                type:"POST",
                data:{parent_id:parent_id,item:item,sort:sort},
                success:function(response){
                    var resp = response;
                    if(resp.output == 'error'){
                        $('.msg_item').html("<div class='alert alert-danger'>"+ resp.message +"</div>");
                    }
                    if(resp.output == 'success'){
                   
                       location.reload();
                    }                   
                }
            });
        });
        $('[data-dismiss=modal]').on('click', function() {
            $(':input').val('');
        });
    });
    function AddItem($parent_id){
        $("#itemModal").modal('show');
        var parent_id  = $parent_id;
        $("#parent_id").val(parent_id);
    }
    function remove_record($del_id){
        var del_id = $del_id;
         $.ajax({
                url:"{{ path('remove_child') }}",
                type:"POST",
                data:{del_id:del_id},
                success:function(response){
                var resp = response;
                    if(resp.output == 'error'){
                        alert(resp.message);
                    }
                    if(resp.output == 'success'){
                        location.reload();
                    }   
                }
          });      
    }
    function remove_parent($del_id){
        if(confirm("Are You Sure you want to remove this List")){
            var del_id = $del_id;
            $.ajax({
                url:"{{ path('remove_parent') }}",
                type:"POST",
                data:{del_id:del_id},
                success:function(response){
                var resp = response;
                    if(resp.output == 'error'){
                        alert(resp.message);
                    }
                    if(resp.output == 'success'){
                        location.reload();
                    }   
                }
            });
        }
        return false;      
    }
</script> 
{% endblock %}   